app/src/main/res/values-af/strings.xml merge=ours
app/src/main/res/values-am/strings.xml merge=ours
app/src/main/res/values-ar/strings.xml merge=ours
app/src/main/res/values-as-rIN/strings.xml merge=ours
app/src/main/res/values-ast-rES/strings.xml merge=ours
app/src/main/res/values-az/strings.xml merge=ours
app/src/main/res/values-b+sr+Latn/strings.xml merge=ours
app/src/main/res/values-be/strings.xml merge=ours
app/src/main/res/values-bg/strings.xml merge=ours
app/src/main/res/values-bn/strings.xml merge=ours
app/src/main/res/values-br-rFR/strings.xml merge=ours
app/src/main/res/values-bs/strings.xml merge=ours
app/src/main/res/values-ca/strings.xml merge=ours
app/src/main/res/values-cs/strings.xml merge=ours
app/src/main/res/values-csb/strings.xml merge=ours
app/src/main/res/values-cy/strings.xml merge=ours
app/src/main/res/values-da/strings.xml merge=ours
app/src/main/res/values-de/strings.xml merge=ours
app/src/main/res/values-el/strings.xml merge=ours
app/src/main/res/values-en-rAU/strings.xml merge=ours
app/src/main/res/values-en-rCA/strings.xml merge=ours
app/src/main/res/values-en-rGB/strings.xml merge=ours
app/src/main/res/values-en-rIN/strings.xml merge=ours
app/src/main/res/values-en-rPT/strings.xml merge=ours
app/src/main/res/values-eo/strings.xml merge=ours
app/src/main/res/values-es/strings.xml merge=ours
app/src/main/res/values-es-rCO/strings.xml merge=ours
app/src/main/res/values-es-rMX/strings.xml merge=ours
app/src/main/res/values-es-rUS/strings.xml merge=ours
app/src/main/res/values-et/strings.xml merge=ours
app/src/main/res/values-eu/strings.xml merge=ours
app/src/main/res/values-fa/strings.xml merge=ours
app/src/main/res/values-fi/strings.xml merge=ours
app/src/main/res/values-fil/strings.xml merge=ours
app/src/main/res/values-fr/strings.xml merge=ours
app/src/main/res/values-fr-rCA/strings.xml merge=ours
app/src/main/res/values-frp/strings.xml merge=ours
app/src/main/res/values-fy-rNL/strings.xml merge=ours
app/src/main/res/values-ga-rIE/strings.xml merge=ours
app/src/main/res/values-gd/strings.xml merge=ours
app/src/main/res/values-gl/strings.xml merge=ours
app/src/main/res/values-gu/strings.xml merge=ours
app/src/main/res/values-hi/strings.xml merge=ours
app/src/main/res/values-hr/strings.xml merge=ours
app/src/main/res/values-hu/strings.xml merge=ours
app/src/main/res/values-hy/strings.xml merge=ours
app/src/main/res/values-in/strings.xml merge=ours
app/src/main/res/values-is/strings.xml merge=ours
app/src/main/res/values-it/strings.xml merge=ours
app/src/main/res/values-iw/strings.xml merge=ours
app/src/main/res/values-ja/strings.xml merge=ours
app/src/main/res/values-ka/strings.xml merge=ours
app/src/main/res/values-kab-rDZ/strings.xml merge=ours
app/src/main/res/values-kk/strings.xml merge=ours
app/src/main/res/values-km/strings.xml merge=ours
app/src/main/res/values-kn/strings.xml merge=ours
app/src/main/res/values-ko/strings.xml merge=ours
app/src/main/res/values-ku/strings.xml merge=ours
app/src/main/res/values-ky/strings.xml merge=ours
app/src/main/res/values-lb/strings.xml merge=ours
app/src/main/res/values-lo/strings.xml merge=ours
app/src/main/res/values-lt/strings.xml merge=ours
app/src/main/res/values-lv/strings.xml merge=ours
app/src/main/res/values-mk/strings.xml merge=ours
app/src/main/res/values-ml/strings.xml merge=ours
app/src/main/res/values-mn/strings.xml merge=ours
app/src/main/res/values-mr/strings.xml merge=ours
app/src/main/res/values-ms/strings.xml merge=ours
app/src/main/res/values-my/strings.xml merge=ours
app/src/main/res/values-nb/strings.xml merge=ours
app/src/main/res/values-ne/strings.xml merge=ours
app/src/main/res/values-nl/strings.xml merge=ours
app/src/main/res/values-oc/strings.xml merge=ours
app/src/main/res/values-or-rIN/strings.xml merge=ours
app/src/main/res/values-pa/strings.xml merge=ours
app/src/main/res/values-pl/strings.xml merge=ours
app/src/main/res/values-pt/strings.xml merge=ours
app/src/main/res/values-pt-rBR/strings.xml merge=ours
app/src/main/res/values-pt-rPT/strings.xml merge=ours
app/src/main/res/values-rm/strings.xml merge=ours
app/src/main/res/values-ro/strings.xml merge=ours
app/src/main/res/values-ru/strings.xml merge=ours
app/src/main/res/values-sc-rIT/strings.xml merge=ours
app/src/main/res/values-si/strings.xml merge=ours
app/src/main/res/values-sk/strings.xml merge=ours
app/src/main/res/values-sl/strings.xml merge=ours
app/src/main/res/values-sq/strings.xml merge=ours
app/src/main/res/values-sr/strings.xml merge=ours
app/src/main/res/values-sv/strings.xml merge=ours
app/src/main/res/values-sw/strings.xml merge=ours
app/src/main/res/values-ta/strings.xml merge=ours
app/src/main/res/values-te/strings.xml merge=ours
app/src/main/res/values-th/strings.xml merge=ours
app/src/main/res/values-tl/strings.xml merge=ours
app/src/main/res/values-tr/strings.xml merge=ours
app/src/main/res/values-ug/strings.xml merge=ours
app/src/main/res/values-uk/strings.xml merge=ours
app/src/main/res/values-ur/strings.xml merge=ours
app/src/main/res/values-uz/strings.xml merge=ours
app/src/main/res/values-vec/strings.xml merge=ours
app/src/main/res/values-vi/strings.xml merge=ours
app/src/main/res/values-zh-rCN/strings.xml merge=ours
app/src/main/res/values-zh-rHK/strings.xml merge=ours
app/src/main/res/values-zh-rTW/strings.xml merge=ours
app/src/main/res/values-zu/strings.xml merge=ours